[submodule "lib/elfio"]
	path = lib/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "lib/scc"]
	path = lib/scc
	url = https://github.com/VP-Vibes/SystemC-Components.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
