name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

env:
  BUILD_TYPE: Release
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      matrix:
        config:
          - {os_name: "ubuntu", os_version: "latest", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3"}
          - {os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3"}

    runs-on: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: build-${{ matrix.config.os_name }}-${{ matrix.config.os_version }}

    steps:
      - name: Install git on container
        run: |
          apt update
          apt install -y git
  
      - name: Checkout etiss-sc
        uses: actions/checkout@v4
        with:
          path: etiss-sc_src
          submodules: recursive

      - name: Requirements (Linux)
        if: runner.os == 'Linux'
        continue-on-error: false
        shell: bash
        working-directory: ${{runner.workspace}}
        run: |
          . ./etiss-sc/etiss-sc_src/docker/setup_debian.sh
          setup_env

      - name: Cache SystemC
        id: cache-systemc
        uses: actions/cache@v4
        with:
          path: /systemc_install
          key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}
          restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}

      - if: ${{ steps.cache-systemc.outputs.cache-hit != 'true' }}
        name: Requirements SystemC
        working-directory: ${{runner.workspace}}
        shell: bash
        run: |
          . ./etiss-sc/etiss-sc_src/docker/setup_debian.sh
          setup_systemc "${{runner.workspace}}/systemc_src" "${{runner.workspace}}/systemc_build" "/systemc_install" "${{ matrix.config.systemc_version }}"

      - name: Cache ETISS
        id: cache-etiss
        uses: actions/cache@v4
        with:
          path: /etiss_install
          key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_etiss
          restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_etiss

      - if: ${{ steps.cache-etiss.outputs.cache-hit != 'true' }}
        name: Checkout ETISS
        uses: actions/checkout@v4
        with:
          path: etiss_src
          repository: tum-ei-eda/etiss
          ref: master
          submodules: recursive

      - if: ${{ steps.cache-etiss.outputs.cache-hit != 'true' }}
        name: Build ETISS
        shell: bash
        working-directory: ${{runner.workspace}}
        run: |
          cmake -S ${GITHUB_WORKSPACE}/etiss_src -B /etiss_build -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_INSTALL_PREFIX=/etiss_install
          cmake --build /etiss_build --config ${BUILD_TYPE} --parallel $(nproc)
          cmake --install /etiss_build --config ${BUILD_TYPE}

      - name: Patch Submodule
        shell: bash
        run: |
          scc_dir="${GITHUB_WORKSPACE}/etiss-sc_src/lib/scc"
          _dir_="$PWD"
          ls -la ${scc_dir}
          cd ${scc_dir}
          ls -la .
          git apply "../patches/scc-gcc_gt_13.patch"
          git apply "../patches/scc-byteenabletransactions.patch"

      - name: Configure CMake
        shell: bash
        working-directory: ${{runner.workspace}}
        run: |
          cmake -S ${GITHUB_WORKSPACE}/etiss-sc_src -B /etiss-sc_build -DETISS_PREFIX=/etiss_install -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DCMAKE_INSTALL_PREFIX=/etiss-sc_install -D SystemCLanguage_DIR=/systemc_install/lib/cmake/SystemCLanguage

      - name: Build
        shell: bash
        run: |
          cmake --build /etiss-sc_build --config ${BUILD_TYPE} --parallel $(nproc)

      - name: Install
        shell: bash
        run: |
          cmake --build /etiss-sc_build --config ${BUILD_TYPE} --target install

      - name: Upload Compiled System
        uses: actions/upload-artifact@v5
        with:
          name: etiss-sc_${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
          path: /etiss-sc_install/
          if-no-files-found: error
 
  # This workflow contains a single job called "build"
  test:
    strategy:
      matrix:
        config:
          - {os_name: "ubuntu", os_version: "latest", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3"}
          - {os_name: "ubuntu", os_version: "22.04", python: "3.9", cmakegen: "Release", systemc_version: "2.3.3"}

    runs-on: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
    container: ${{ matrix.config.os_name }}:${{ matrix.config.os_version }}
    name: build-${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
    needs: build

    steps:
      - name: Install git on container
        run: |
          apt update
          apt install -y git cmake

      - name: Checkout etiss-sc
        uses: actions/checkout@v4
        with:
          path: etiss-sc_src

      - name: Fetch Compiled System
        uses: actions/download-artifact@v5
        with:
          name: etiss-sc_${{ matrix.config.os_name }}-${{ matrix.config.os_version }}
          path: /etiss-sc_install/

      - name: Cache ETISS
        id: cache-etiss
        uses: actions/cache@v4
        with:
          path: /etiss_install
          key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_etiss
          restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_etiss

      - name: Cache SystemC
        id: cache-systemc
        uses: actions/cache@v4
        with:
          path: /systemc_install
          key: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}
          restore-keys: ${{ matrix.config.os_name }}-${{ matrix.config.os_version }}_systemc-${{ matrix.config.systemc_version }}

      - name: Test Requirements (RISC-V cross toolchain)
        shell: bash
        working-directory: ${{runner.workspace}}
        run: |
          TC_NAME="riscv64-unknown-elf-gcc-8.3.0-2020.04.0-x86_64-${{ matrix.config.tc }}"
          wget https://static.dev.sifive.com/dev-tools/$TC_NAME${{ matrix.config.tc-ext }}
          ${{ matrix.config.unpack }} $TC_NAME${{ matrix.config.tc-ext }}
          mv ${TC_NAME} riscv-tc

      - name: Create Test Environment
        run: |
          cmake -E make_directory ${{runner.workspace}}/test
      
      - name: Setup tests
        working-directory: ${{runner.workspace}}/test
        run: |
          ${{runner.workspace}}/riscv-tc/bin/riscv64-unknown-elf-gcc -march=rv32im -mabi=ilp32 -O3 -T ${GITHUB_WORKSPACE}/examples/barebone_vp/target_software/link.ld -nostartfiles ${GITHUB_WORKSPACE}/examples/barebone_vp/target_software/crt0.s ${GITHUB_WORKSPACE}/examples/barebone_vp/target_software/helloworld.c ${GITHUB_WORKSPACE}/examples/barebone_vp/target_software/syscalls.c -DETISSVP_LOGGER=0xf0000000 -o helloworld.elf

      - name: Run tests
        working-directory: /etiss-sc_build
        run: |
          /etiss-sc_install/example/barebone_vp --etiss ${GITHUB_WORKSPACE}/etiss-sc_src/examples/barebone_vp/ini/etiss.ini --elfs ${{runner.workspace}}/test/helloworld.elf